In [1]:
import pandas as pd

In [10]:
df = pd.read_csv("../all_reachability.csv")
df

,Unnamed: 0,website,category,reachableornot,reason,requires_authentication,notes
0,0,epicgames.com,games,yes,NaN,yes,NaN
1,1,twitch.tv,games,no,browsernotsupported,NaN,NaN
2,2,roblox.com,games,no,doesnotacceptstdpassword,NaN,NaN
3,3,steampowered.com,games,yes,NaN,yes,NaN
4,4,ea.com,games,yes,NaN,yes,NaN
...,...,...,...,...,...,...,...
420,1099,aircanada.com,travel,no,NaN,NaN,NaN
421,1100,scitation.org,travel,yes,NaN,yes,NaN
422,1101,sabre.com,travel,no,NaN,NaN,NaN
423,1102,turo.com,travel,yes,NaN,no,NaN
424,1103,fourseasons.com/,travel,yes,NaN,no,NaN

In [17]:
# df.groupby("category").count()

df["website"].shape

df[df["reachableornot"]=="yes"].groupby("category").count()

,Unnamed: 0,website,reachableornot,reason,requires_authentication,notes
category,,,,,,
entertainment,28,28,28,0,15,0
games,40,40,40,1,39,6
generalnews,60,60,60,0,59,0
onlineshopping,51,51,51,0,22,0
sports,28,28,28,0,14,0
travel,35,35,35,0,35,0